@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");/*  Regular 400 Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap"); /* Bold 700 Raleway */


@font-face {
  font-family: "Raleway";
  src: url(Raleway-Regular.ttf) format(ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url(Raleway-Bold.ttf) format(ttf);
  font-weight: 700;
}